<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-label>This is what I dream about</ion-label>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-input type="text" [(ngModel)]="dreams[0]"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="current_num > 0">
      <ion-label>{{dreamsText[0]}}</ion-label>
    </ion-row>
    <ion-row *ngIf="current_num > 0">
      <ion-item>
        <ion-input type="text" [(ngModel)]="dreams[1]"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="current_num > 1">
      <ion-label>{{dreamsText[1]}}</ion-label>
    </ion-row>
    <ion-row *ngIf="current_num > 1">
      <ion-item>
        <ion-input type="text" [(ngModel)]="dreams[2]"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="current_num > 2">
      <ion-label>{{dreamsText[2]}}</ion-label>
    </ion-row>
    <ion-row *ngIf="current_num > 2">
      <ion-item>
        <ion-input type="text" [(ngModel)]="dreams[3]"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="current_num > 3">
      <ion-label>{{dreamsText[3]}}</ion-label>
    </ion-row>
    <ion-row *ngIf="current_num > 3">
      <ion-item>
        <ion-input type="text" [(ngModel)]="dreams[4]"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <button ion-button color="light" (click)="onClickNext()">Next</button>
    </ion-row>
  </ion-grid>
</ion-content>
